  .backImg{
      width: 100%;
      height: 100vh;
      background-image: url(./images/john-fowler-RsRTIofe0HE-unsplash.jpg);
      background-size: cover;
      background-repeat: repeat;
      display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     color: rgb(17, 19, 17);
  }
  .profile{
    width:400px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px 0;
    border-radius: 30%;
    
}
img{
    height: 250px;
    border-radius: 70%;
}
i{
    color: aliceblue;
}
.image-div{
    position: relative;
    width: 200px;
    height: 200px;
    padding-left: 10%;
    padding-top: 10%;
}
.links-list{
    padding-top: 8%;
    padding-left: 40%;
    color: #42b4d6;
    font-size: 36px;
    
    
}
.head{
    
    width: 50px;
    height: 50px;
    bottom: 60%;
    border-radius: 50%;
    align-items: center;
     justify-content: center;
     text-align: center;
}

.column {
    float: left;
    width:100%;
    font-size: 23px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #txt{
      width: 60%;
      font-size: 23px;
  }

  @media (min-width: 800px) {
    .column {
      width: 50%;
    }
  }
ul{

overflow:hidden;

}
li{
display:list-item;
}
a:link {
text-decoration: none;
}
a:hover{
    text-decoration: underline;

}

h1{
   padding-left: 45%;
   display: inline;
}
footer{
    color: rgb(99, 6, 6);
    background-color: rgb(211, 151, 203);
    font-weight: bolder;
    text-align: center;
  }


